.proposition {
    border: solid rgb(238,129,41);
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    width: 20%;
    margin: 0 auto;
    min-width: 200px;
    max-width: 400px;
}

.header{
    background-color: rgb(238,129,41);
    color: rgb(255,255,255);
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
    white-space:nowrap;
    display: block;
}

.caption{
    text-transform: uppercase;
    text-align: center;
    color: rgb(63,64,66);
    padding: 10px 0;
    white-space:nowrap;
    display: block;
}

.price{
    position: relative;
    color: rgb(53,73,90);
    width: 90%;
    margin: 5% auto;
}

.price_sum{
    display: block;
    text-align: center;
    position: relative;
    color: rgb(53,73,90);
    font-size: 3.5em;
    font-weight: bold;
    width: 90%;
    line-height: 1ex;
}

.price_curr{
    display: block;
    position: relative;
    margin:  0 20%;
    line-height: 1ex;
}

.price_type{
    display: block;
    position: relative;
    margin: 0 60%;
}

li{
    color: rgb(136,140,148);
    position: relative;
    display: block;
    width: 90%;
    margin: 0 auto 0 -5%;
    padding: 5px 0;
    border: 1px solid rgb(255,255,255);
    white-space:nowrap;
    list-style-type: none;
    font-size: 0.5em;
}

li:before{
    content: url(chk.png);
    padding:0 15px;
}

li:nth-child(2n-1){
     background-color: rgb(237,245,253);
 }

li:nth-child(2n){
    background-color: rgb(245,245,246);
}

li:nth-child(4n+1),
li:nth-child(4n+2){
    text-transform: uppercase;
}


input{
    display:block;
    border: 0;
    background-color: rgb(238,129,41);
    color: rgb(255,255,255);
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 3px 0 0 rgb(179,86,11);
    width: 90%;
    padding: 5px 0;
    margin: 10% auto;
    text-transform: uppercase;
    font-size: 0.6em;
}

input:hover{
    box-shadow: none;
}
